<title>Tela de Cadastro</title>

{{nome}}

<img [src]="caminhoImagem"/>

<button (click)="dizerOi()"> Clique Aqui </button>

<p *ngIf="mostratMensagem">Esta Mensagem é exibida condicionalmente</p>
<button (click)="togleMensagem()">Alternar Mensagem</button>

<br><br>

<ul>
    <li *ngFor="let itens for listaItens">
        {{ itens }}
    </li>
</ul>
<button (click)="alterarItens()">Alterar Itens</button>

<div [ngClass]="{'destaque': isDestaque, 'erro': hasError}">
    Campo 1 (Erro e Destaque)
</div>

<div [ngStyle]="{'background-color': corFundo, 'font-size': tamanhoFonte + 'px'}">
    Campo 2 (Cor de fundo e Font Size)
</div>

<app-listar-component></app-listar-component>